/* for .pacifico-font */
.pacifico-font {
  font-family: 'Pacifico', cursive;
}
  .button:active,
  .button:focus,
  .button:hover{
    background-color: #0154d1 !important;
    color:white !important;
  }
  .button{
    background-color: #0b5ed7 !important;
  }