<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taqui Science Academy- Excellence in Education</title>
  <link rel="stylesheet" href="bootstrap.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <link rel="stylesheet" href="boostrap_custom.css">

</head>
<body>
<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    Application submitted successfully!
  </div>
</div>
</body>
</html>